/* Keyframes */

@keyframes bg {

  to {
    background-position: 100% 0;
  }

  from {
    background-position: 0% 0;
  }
  
}

@keyframes nava {

  0% {
    color: #ffffff;
  }

  100% {
    color: #159a9c;
  }

}

@keyframes submit {

  0% {
    background-color: #159A9C;
  }

  100% {
    background-color: #DEEFE7;
  }
  
}


@keyframes navulmobile {

  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%);
  }

}

@keyframes navulmobileexit {

  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(100%);
  }

}

@keyframes boxshadow {

  0% {
    box-shadow: 5px 5px 5px grey;
  }

  100% {
    box-shadow: 0px 0px 5px grey;
  }

}




/* Mobile */

@media only screen and (max-width: 600px) {

  * {
    margin: 0px;
    padding: 0px;
    overflow-x:hidden
  }

  .navmobile {
    /* background-color: grey; */
    z-index: 1;
    position: absolute;
    width: 100%;
  }

  .navdivbtnmobile {
    background-color: #159A9C;
    height: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
  }

  .navulmobile {
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    /* transform: translateX(100%); */
  }

  .navdivmobile {
    background-color: rgba(0, 35, 51, 1);
    transform: translateX(100%);
  }

  /* .navulmobileadded {
    display: flex;
    flex-direction: column;
    background-color: grey;
    animation: navulmobile 2s forwards;
  } */

  .navdivmobileadded {
    animation: navulmobile 0.5s forwards;
    background-color: rgba(0, 35, 51, 1);
  }

  /* .navulmobileexit {
    display: flex;
    flex-direction: column;
    background-color: grey;
    animation: navulmobileexit 2s forwards;
  } */

  .navdivmobileexit {
    animation: navulmobileexit 0.5s forwards;
    background-color: rgba(0, 35, 51, 1);
  }

  .navamobile {
    text-decoration: none;
    color: #ffffff;
    padding: 1vh;
    overflow-y: hidden;
  }

  #main {
    margin-top: 55px;
    background-image: url("/images/bgs/bg4.png");
    background-repeat: no-repeat;
    animation: bg 1.5s forwards;
    animation-iteration-count: 1;
    background-size: 150%;
  }

  #main1 {
    margin-top: 55px;
    background-image: url("/images/bgs/bg4-1.jpg");
    background-repeat: no-repeat;
    background-size: 107%;
    background-attachment: fixed;
  }

  .bgvideo {
    
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
  
  }

  .navamobilelogo {
    text-decoration: none;
    color: #ffffff;
    /*padding-bottom: 0vh; */
    height: 100px;
    text-align: right;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }

  .navdesktop {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .navadesktop {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .navlidesktop {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .logo {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
  }

  #ham {
    background: none;
    border: none;
    text-align: right;
    display: flex;
    justify-content: right;
    /* margin: 1vh; */
  }

  #iconimg {
    width: 20px;
    height: 20px;
    padding: 2vh;
  }

  #container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .examplesimages {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    /* padding-left: 2.5vh; */
  }

  .webDiv {
    /* border: 2px solid black; */
    /* margin: 5vh; */
    /* width: 35vh; */
    /* height: 45vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .namep {
    text-align: center;
  }

  .alink {
    margin: 5vh;
    width: 35vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #DEEFE7;
    border-radius: 25px;
  }

  .pricep {
    
  }

  .webDivprice {
    border: 2px solid black;
    margin: 5vh;
    width: 35vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 5px grey;
    /* font-size: 5rem; */
  }

  #form {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    background-color: rgba(1,1,1,0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #159A9C;
    width: 100%;
  }

  .formp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .h2form {
    margin-top: 1vh;
  }

  .indexmain {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 13vh;
   /* background-color: rgba(0, 0, 0, 0.5);*/
  }

  .mainindex {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
   /* background-color: rgba(0,0,0,0.25);*/
  }

  .indexmain1 {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
/*     margin-bottom: 5vh; */
    padding-bottom: 5vh;
    background-color: #002333;
  }

  .mainh3 {
    text-align: center;
    margin-top: 10vh;
    color: #159A9C;
    /*-webkit-text-stroke: 1px white;*/
  }

  .mainp {
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-top: 3vh;
    width: 40vh;
    background-color: white;
    padding: 1.5vh;
    border-radius: 25px;
  }

  .formbtn {
    background-color: #159A9C;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 5vh;
    border-radius: 25px;
  }

  .forminput {
    margin: 1vh;
    margin-bottom: 4vh;
    
  }

  .formdiv {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formdivmain {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .mainfooter {
    background-color: #002333;
    width: 100%;
    text-align: center;
    color: white;
  }
  
}




/* Desktop */

@media only screen and (min-width: 601px) {

  * {
    margin: 0px;
    padding: 0px;
    overflow-x:hidden
  }

  .navdesktop {
    background-color: #002333;
  }

  .navuldesktop {
    display: flex;
    flex-direction: row;
  }

  .navadesktop {
    text-decoration: none;
    padding: 2.5vh;
    margin: 2.5vh;
  }

  .navlidesktop:hover {
      animation: nava 0.5s forwards;
  }

  .navlidesktop {
    color: #ffffff;
  }

  .navlidesktop {
    list-style-type: none;
    /*background-color: #B4BEC9;*/
  }

  .navlidesktop1 {
    list-style-type: none;
    background-color: #B4BEC9;
  }

  .logo {
    width: 42px;
  }

  .navmobile {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .navamobile {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .navlimobile {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  #container {
    display: flex;
    justify-content: center;
  }

  .examplesimages {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    /* padding-left: 2.5vh; */
  }

  .webDiv {
    /* border: 2px solid black; */
    /* margin: 5vh; */
    /* width: 35vh; */
    /* height: 45vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .namep {
    text-align: center;
  }

  .alink {
    border: 2px solid black;
    margin: 5vh;
    width: 35vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px grey;
    background-color: #DEEFE7;
  }

  .alink:hover {
    animation: boxshadow 0.5s forwards;
  }

  .pricep {
    
  }

  .stepsul {
    text-align: center;
  }

  #main {
    background-image: url("/images/bgs/bgdesk.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #main1 {
    background-image: url("/images/bgs/bgdesk.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .webDivprice {
    border: 2px solid black;
    margin: 5vh;
    width: 35vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 5px grey;
    /* font-size: 5rem; */
  }

  #form {
    border: 2px solid #159A9C;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: #002333;
    width: 500px;
/*     width: 100%; */
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .formbtn:hover {
    cursor: pointer;
    animation: submit 0.5s forwards;
  }

  .formbtn {
    background-color: #159A9C;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 5vh;
    border-radius: 25px;
  }

  .forminput {
    margin: 3vh;
  }

  .formdiv {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formdivmain {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .indexmain {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .indexmain1 {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .mainindex {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
  }

  .mainh3 {
    text-align: center;
    margin-top: 10vh;
  }

  .mainp {
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-top: 3vh;
    width: 80vh;
  }

  .mainfooter {
    background-color: #002333;
    width: 100%;
    text-align: center;
    color: white;
  }

  .mainindex1 {
    margin-bottom: 2vh;
  }
  
}
